[submodule "Enero-String-Calculator"]
	path = Enero-String-Calculator
	url = git://github.com/12meses12katas/Enero-String-Calculator.git
[submodule "Febrero-Roman-Numerals"]
	path = Febrero-Roman-Numerals
	url = git://github.com/12meses12katas/Febrero-Roman-Numerals.git

[submodule "Marzo-FizzBuzz"]
	path = Marzo-FizzBuzz
	url = git://github.com/12meses12katas/Marzo-FizzBuzz.git
[submodule "Abril-Bowling"]
	path = Abril-Bowling
	url = git://github.com/12meses12katas/Abril-Bowling.git
[submodule "Mayo-KataLonja"]
	path = Mayo-KataLonja
	url = git://github.com/12meses12katas/Mayo-KataLonja.git
[submodule "Junio-Simple-Lists"]
	path = Junio-Simple-Lists
	url = git://github.com/12meses12katas/Junio-Simple-Lists.git
[submodule "Julio-Prime-Factors"]
	path = Julio-Prime-Factors
	url = git://github.com/12meses12katas/Julio-Prime-Factors.git
[submodule "Agosto-Minesweeper"]
	path = Agosto-Minesweeper
	url = git://github.com/12meses12katas/Agosto-Minesweeper.git
[submodule "Septiembre-KataArgs"]
	path = Septiembre-KataArgs
	url = git://github.com/12meses12katas/Septiembre-KataArgs.git
[submodule "Octubre-Karate-Chop"]
	path = Octubre-Karate-Chop
	url = git://github.com/12meses12katas/Octubre-Karate-Chop.git
